{% block main %}
<div class="container">
	<div class="row">
		<p>Let us help you smartify your home!</p> 
		<p>Please select what you need help with.</p> 

		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		    Opening Doors
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		    Feeding / Providing Water for Pets
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		    Hygiene 
		  </label>
		</div>
		


	</div>



</div>



{% endblock %}
