{% extends "layout.html" %}
{% block main %}
<div class="row">
	<h1>Device Categories</h1> 
</div>
<div>
	<div class="form-group"> 
		<ul class="list-group" id="categoryList">
		{% for c in deviceCat %}
		  <li class="list-group-item d-flex justify-content-between align-items-center" id="{{c}}">
		    {{c}}
		    <span class="float-right">
				<button type="button" class="btn btn-warning" onclick="makeEditable('{{c}}', '{{c.id}}')">Edit</button>
				<a href="/deleteCategory/{{c.id}}" type="button" class="btn btn-danger">Delete</a>
			</span>
		  </li>
		{% endfor %}
		</ul>
		{{ form.recaptcha }}
	</div> 
	<h2> Add Category </h2>
	<form class="needs-validation form-inline" action="/addCategory" method="post" novalidate> 
		<input type="text" name="name" id='newCat' class="form-control mr-1" required/>
		<button type="submit" class="btn btn-primary" onclick="addCategory()">Add</button>
	</form>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=_reCAPTCHA_site_key"></script>
<script>

(function() {
	  'use strict';
	  window.addEventListener('load', function() {

		grecaptcha.ready(function() {
		    grecaptcha.execute('6Lf-49AUAAAAACmYQ_wzrqqjgXYRBq6O9vwLpDPe', {action: 'editHomeCategories'}).then(function(token) {
		       
		    });
		});

		// Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.getElementsByClassName('needs-validation');
	    // Loop over them and prevent submission
	    var validation = Array.prototype.filter.call(forms, function(form) {
	      form.addEventListener('submit', function(event) {
	        if (form.checkValidity() === false) {
	          event.preventDefault();
	          event.stopPropagation();
	        }
	        form.classList.add('was-validated');
	      }, false);
	    });
	}, false);
})();

function makeEditable(name, id){
	var elem = document.getElementById(name); 
	elem.innerHTML = '<form action="/editCategory/' + id + '" method="post">' +
	 "<input type='text' name='name' value='" + elem.innerText.replace('Edit', '').replace('Delete', '').trim() + "'>" + 
	"<button type='submit' class='btn btn-success'>Save</button></form>" +
	'<span class="float-right">' + 
		'<button type="button" class="btn btn-warning" onclick="makeEditable(' + id + ')">Edit</button>' + 
		'<a href="/deleteCategory/' + id + '" type="button" class="btn btn-danger">Delete</a>' +
		'</span>'; 
}
</script> 

{% endblock %}
