{% extends "layout.html" %}
{% block main %}
<div class="row">
	<h2> {{device_verb}} Device </h2>
</div>
<div>
	<form class="needs-validation" action="/createDevice/{{device.id}}" method="post" novalidate> 
		<!-- {{ form.csrf_token }} -->
		<div class="form-group"> 
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			  	<label class="input-group-text" for='name'>Device Name</label>
			  </div>
			  {% if device.name %}
			  	<input type="text" id='name' name="name" class="form-control" value="{{device.name}}" required>
			  {% else %}
			  	<input type="text" id='name' name="name" class="form-control" required>
			  {% endif %}
			  <div class="valid-feedback">
			  	Looks good! 
			  </div>
			  <div class="invalid-feedback">
			  	Please provide a device name.  
			  </div>
			</div>
		</div> 
		<div class="form-group">
		    <label for="description">Product Description</label>
		    {% if device.description %}
		    	<textarea class="form-control" name="description" id="description" rows="3" required>{{device.description}}</textarea>
		    {% else %}
		    	<textarea class="form-control" name="description" id="description" rows="3" required></textarea>
		    {% endif %}
		    <div class="valid-feedback">
		    	Looks good!
		    </div> 
		    <div class="invalid-feedback">
		    	Please provide a device description.
		    </div>
		  </div>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for='price'>$</label>
		  </div>
		  {% if device.price %}
		  	<input name="price" id='price' type="text" class="form-control" value="{{device.price}}" required>
		  {% else %}
		  	<input name="price" id='price' type="text" class="form-control" required>
		  {% endif %}
		  <div class="valid-feedback">
		    	Looks good!
		    </div> 
		    <div class="invalid-feedback">
		    	Please provide a price.
		    </div>
		</div>
		 <div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for='recurring_price'>Recurring $</label>
		  </div>
		  {% if device.recurring_price %}
		  	<input name="recurring_price" id='recurring_price' value=0 type="text" value="{{device.recurring_price}}" class="form-control" required>
		  {% else %}
		  	<input name="recurring_price" id='recurring_price' value=0 type="text" class="form-control" required>
		  {% endif %}
		  <div class="valid-feedback">
		    	Looks good!
		    </div> 
		    <div class="invalid-feedback">
		    	Please provide a reaccurring price. If none put 0.
		    </div>
		</div>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="payment_occurence">Payment Type</label>
		  </div>
		  {{ form.payment_occurence(class="custom-select", value="{{device.payment_occurence}}", id="payment_occurence") }}
		</div>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="link">Hyperlink to Purchase Device</label>
		  </div>
		  {% if device.link %}
		  	<input type="text" name="link" class="form-control" aria-label="Hyperlink to purchase device" id='link' value="{{device.link}}" required>
		  {% else %}
		  	<input type="text" name="link" class="form-control" aria-label="Hyperlink to purchase device" id='link' required>
		  {% endif %}
		  <div class="valid-feedback">
		    	Looks good!
		  </div> 
		  <div class="invalid-feedback">
		    Please provide a hyperlink to the device.
		  </div>
		</div>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="category">Device Control Category</label>
		  </div>
		  {{ form.category(class="custom-select", id="category", onload="categoryLoad()") }}
		  <div class="valid-feedback">
		    	Looks good!
		  </div> 
		  <div class="invalid-feedback">
		    Please provide a device control input category.
		  </div>
		</div>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="rating">Device Rating</label>
		  </div>
		  <select name='rating' class="custom-select" id="rating" required>
		    <option value="1">One</option>
		    <option value="2">Two</option>
		    <option value="3">Three</option>
		    <option value="4">Four</option>
		    <option value="5">Five</option>
		  </select>
		  <div class="valid-feedback">
		    	Looks good!
		    </div> 
		    <div class="invalid-feedback">
		    	Please provide a rating.
		    </div>
		</div>
		<div class="form-group">
		    <label for="narrative">Describe the rating for this device.</label>
		    {% if device.narrative %}
		    	<textarea class="form-control" name="narrative" id="narrative" rows="3">{{device.narrative}}</textarea>
		    {% else %}
		    	<textarea class="form-control" name="narrative" id="narrative" rows="3"></textarea>
		    {% endif %}
		  </div>
		<p>Select all categories that apply</p> 
		{% for homecategory in homecategories %}
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="{{homecategory.name}}" name="homeCat[]" id="{{homecategory.name}}" required>
		  <label class="form-check-label" for="{{homecategory.name}}">
		    {{homecategory.name}}
		  </label>
		</div>
		{% endfor %}
		<div class="sr-only">
			Choose at least one category. 
		</div>
		<br> 
		<!-- {{ form.recaptcha }} -->
		<br> 
		<button type='submit' class="btn btn-primary">Submit</button> 
	</form> 
	<br> 
</div>
<script>

	

	(function() {
	  'use strict';
	  window.addEventListener('load', function() {

	    // Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.getElementsByClassName('needs-validation');
	    // Loop over them and prevent submission
	    var validation = Array.prototype.filter.call(forms, function(form) {
	      form.addEventListener('submit', function(event) {
	        if (form.checkValidity() === false) {
	          event.preventDefault();
	          event.stopPropagation();
	        }
	        form.classList.add('was-validated');
	      }, false);
	    });
	  
	    //if editing device -- show correct values inside select statements 
	    //payment type 
	    var select = document.getElementById('payment_occurence'); 
	    for(var i=0; i<select.options.length; i++){
	    	if(select.options[i].value=="{{device_po}}"){
	    		select.selectedIndex = i; 
	    	}
	    }

	    //device control category
	    select = document.getElementById('category'); 
	    for(var i=0; i<select.options.length; i++){
	    	if(select.options[i].value=="{{device_cat}}"){
	    		select.selectedIndex = i; 
	    	}
	    }
	    
	    //device rating 
	    select = document.getElementById('rating');
	    for(var i=0; i<select.options.length; i++){
	    	if(select.options[i].value==Math.floor({{device.rating}})){
	    		select.selectedIndex = i; 
	    	}
	    }
	    //homecategories 
	    var homeCatsArray = {{device_hc|safe}}; 
	    for(var i=0; i<homeCatsArray.length; i++){
	    	var checkbox = document.getElementById(homeCatsArray[i])
	    	checkbox.checked = true 
	    }

	    //check that at least one device input checkbox is selected
		var requiredCheckboxes = $('.form-check :checkbox[required]');
		//initial
		if(requiredCheckboxes.is(':checked')){
			requiredCheckboxes.removeAttr('required'); 
		}
		else{
			requiredCheckboxes.attr('required', 'required'); 
		}

		requiredCheckboxes.change(function(){
			if(requiredCheckboxes.is(':checked')){
				requiredCheckboxes.removeAttr('required'); 
			}
			else {
				requiredCheckboxes.attr('required', 'required'); 
			}
		})
	    
	  }, false);
	})();
</script>
{% endblock %}
