{% extends "layout.html" %}
{% block main %}
{% if message %}
	<div class="alert alert-danger" role="alert">{{message}}</div>
{% endif %}
<div class="row">
	<h2> {{device.verb|default("Create")}} Device </h2>
</div>

<div>
	<form class="needs-validation" enctype="multipart/form-data" action="/createDevice/{{device.id}}" method="post" novalidate> 
		{{ form.csrf_token }} 
		<div class="form-group"> 
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			  	<label class="input-group-text" for='name'>Device Name</label>
			  </div>
			  {% if device.name %}
			  	<input type="text" id='name' name="name" class="form-control" value="{{device.name}}" required />
			  {% else %}
			  	<input type="text" id='name' name="name" class="form-control" required />
			  {% endif %}
			  <div class="valid-feedback">
			  	Looks good! 
			  </div>
			  <div class="invalid-feedback">
			  	Please provide a device name.  
			  </div>
			</div>
		</div> 
		
		<p>Select all categories that apply</p> 
		{% for devicecategory in devicecategories %}
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="{{devicecategory.name}}" name="deviceCat[]" id="{{devicecategory.name}}" required>
			<label class="form-check-label" for="{{devicecategory.name}}">
				{{devicecategory.name}}
			</label>
		</div>
		{% endfor %}
		<div class="sr-only">
			Choose at least one category. 
		</div>  
		<br> 
		<div class="form-group">
		    <label for="description">Product Description</label>
		    {% if device.description %}
		    	<textarea class="form-control" name="description" id="description" rows="3" required>{{device.description}}</textarea>
		    {% else %}
		    	<textarea class="form-control" name="description" id="description" rows="3" required></textarea>
		    {% endif %}
		    <div class="valid-feedback">
		    	Looks good!
		    </div> 
		    <div class="invalid-feedback">
		    	Please provide a device description.
		    </div>
		  </div>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for='price'>Price $</label>
		  </div>
		  {% if device.price %}
		  	<input name="price" id='price' type="text" class="form-control" value="{{device.price}}" required>
		  {% else %}
		  	<input name="price" id='price' type="text" class="form-control" required>
		  {% endif %}
		  <div class="valid-feedback">
		    	Looks good!
		    </div> 
		    <div class="invalid-feedback">
		    	Please provide a price.
		    </div>
		</div> 
		<div class="input-group mb-3">
			<div class="form-check">
			{% if device.has_subscription %}
			  {{form.is_subscription(class="form-check-input", id="subscription_checkbox", 
			  checked="{{device.has_subscription}}",
			  **{'data-toggle':'collapse', 
			  'data-target':'#showSubscription', 'aria-expanded':'{{device.has_subscription}}', 'aria-controls':'showSubscription'})}}
			{% else %}
			  {{form.is_subscription(class="form-check-input", id="subscription_checkbox", 
			  **{'data-toggle':'collapse', 
			  'data-target':'#showSubscription', 'aria-expanded':'{{device.has_subscription}}', 'aria-controls':'showSubscription'})}}
			{% endif %}
			  <label class="form-check-label" for="subscription_checkbox">
			    Subscription Necessary 
			  </label>
			</div>
		</div>
		{% set class = "collapse" %}
		{% if device.has_subscription %}
			{% set class = "collapse show" %}
		{% else %}
			{% set class = "collapse" %}
		{% endif %}
		<div class="{{class}}" id="showSubscription">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <label class="input-group-text" for='recurring_price'>Subscription $</label>
			  </div>
			  {% if device.recurring_price %}
			  	<input name="recurring_price" id='recurring_price' type="text" value="{{device.recurring_price}}" class="form-control" required>
			  {% else %}
			  	<input name="recurring_price" id='recurring_price' value=0 type="text" class="form-control" required>
			  {% endif %}
			  <div class="valid-feedback">
			    	Looks good!
			    </div> 
			    <div class="invalid-feedback">
			    	Please provide a reaccurring price. If none put 0.
			    </div>
			</div>
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <label class="input-group-text" for="payment_occurence">Subscription Type</label>
			  </div>
			  {{ form.payment_occurence(class="custom-select", value="{{device.payment_occurence}}", id="payment_occurence") }}
			</div>
			<div class="form-group">
			    <label for="subscription_description">Subscription Description</label>
			    {% if device.subscription_description %}
			    	<textarea class="form-control" name="subscription_description" id="subscription_description" rows="3">{{device.subscription_description}}</textarea>
			    {% else %}
			    	<textarea class="form-control" name="subscription_description" id="subscription_description" rows="3"></textarea>
			    {% endif %}
			    <div class="valid-feedback">
			    	Looks good!
			    </div> 
			    <div class="invalid-feedback">
			    	Please provide a subscription description.
			    </div>
			</div>
		</div>
		<div class="form-group"> 
			<div class="custom-file">
				<label class="custom-file-label" id="deviceImageLabel" for="deviceImage">Device Image</label>
				<input type="file" class="custom-file-input" id="deviceImage" name='image'>
				<div class="valid-feedback">
			    	Looks good!
			    </div> 
			    <div class="invalid-feedback">
			    	Please upload an image. 
			    </div>
			</div>
		</div> 
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for='image_alt'>Alternative Text for Image</label>
		  </div>
		  	{% if device.image_alt %}
		  	<input name="image_alt" id='image_alt' type="text" class="form-control" value="{{device.image_alt}}" required />
		  	{% else %}
		  	<input name="image_alt" id='image_alt' type="text" class="form-control"/>
		  	{% endif %}
		  	<div class="valid-feedback">
		    	Looks good!
		    </div> 
		    <div class="invalid-feedback">
		    	Must provide alternate text. 
		    </div>
		</div>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="link">Hyperlink to Purchase Device</label>
		  </div>
		  {% if device.link %}
		  	<input type="text" name="link" class="form-control" aria-label="Hyperlink to purchase device" id='link' value="{{device.link}}" placeholder='https://www.google.com' required>
		  {% else %}
		  	<input type="text" name="link" class="form-control" aria-label="Hyperlink to purchase device" id='link' placeholder='https://www.google.com' required>
		  {% endif %}
		  <div class="valid-feedback">
		    	Looks good!
		  </div> 
		  <div class="invalid-feedback">
		    Please provide a hyperlink to the device.
		  </div>
		</div>
		<h2>Rating</h2>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="rating">Device Rating</label>
		  </div>
		  <select name='rating' class="custom-select" id="rating" required>
		    <option value="1">One</option>
		    <option value="2">Two</option>
		    <option value="3">Three</option>
		    <option value="4">Four</option>
		    <option value="5">Five</option>
		  </select>
		  <div class="valid-feedback">
		    	Looks good!
		    </div> 
		    <div class="invalid-feedback">
		    	Please provide a rating.
		    </div>
		</div>
		<div class="form-group">
		    <label for="narrative">Describe the rating for this device.</label>
		    {% if device.narrative %}
		    	<textarea class="form-control" name="narrative" id="narrative" rows="3">{{device.narrative}}</textarea>
		    {% else %}
		    	<textarea class="form-control" name="narrative" id="narrative" rows="3"></textarea>
		    {% endif %}
		</div>
		<h2>Warranty</h2>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for='warranty_price'>Warranty Price $</label>
		  </div>
		  {% if device.warranty_price %}
		  	<input name="warranty_price" id='warranty_price' type="text" class="form-control" value="{{device.warranty_price}}">
		  {% else %}
		  	<input name="warranty_price" value=0 id='warranty_price' type="text" class="form-control">
		  {% endif %}
		  <div class="valid-feedback">
		    	Looks good!
		  </div> 
		</div>
		<div class="form-group"> 
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			  	<label class="input-group-text" for='warranty_length'>Warranty Length</label>
			  </div>
			  {% if device.warranty_length %}
			  	<input type="text" id='warranty_length' name="warranty_length" class="form-control" value="{{device.warranty_length}}">
			  {% else %}
			  	<input type="text" id='warranty_length' name="warranty_length" class="form-control">
			  {% endif %}
			  <div class="valid-feedback">
			  	Looks good! 
			  </div>
			</div>
		</div> 
		<h2>Categories</h2>
		<p>Select all categories that apply</p> 
		{% for homecategory in homecategories %}
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="{{homecategory.name}}" name="homeCat[]" id="{{homecategory.name}}" required>
		  <label class="form-check-label" for="{{homecategory.name}}">
		    {{homecategory.name}}
		  </label>
		</div>
		{% endfor %}
		<div class="sr-only">
			Choose at least one category. 
		</div>
		<br> 
		<h2>Additional Resources</h2>
		{% for resource in device.deviceresources %}
		<div id="{{resource.id}}_div" class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="resourceLink">Hyperlink</label>
		  </div>
		  	<input type="text" name="resources[]" class="form-control" aria-label="Resource Link" id='{{resource.id}}' value="{{resource}}" placeholder='https://www.google.com'/> 
		  	<button type="button" onclick="document.getElementById('{{resource.id}}_div').remove()" class="btn btn-danger ml-sm-2">Delete</button>
		</div>
		{% endfor %}
		<div id="newResources"></div> 
		<div class="input-group mb-2 mr-sm-2">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="newResourceLink">Hyperlink</label>
		  </div>
		  	<input type="text" name="newResourceLink" class="form-control" aria-label="Add Resource Link" id='newResourceLink'> 
		  	<button type="button" onclick="addResource('newResourceLink')" class="btn btn-primary ml-sm-2">Add</button>
		</div>
		<br> 
		<!-- {{ form.recaptcha }} -->
		<br> 
		<button type='submit' class="btn btn-primary mb-2">Submit</button> 
	</form> 
	<br> 
</div>
<script>
	function addResource(id){
		var resourceDiv = document.getElementById(id); 
		var text = resourceDiv.value;  
		var div = document.getElementById('newResources'); 
		div.innerHTML += '<div id="newRDiv" class="input-group mb-3">' +
		  '<div class="input-group-prepend">' +
		    '<label class="input-group-text" for="' + text + '">Hyperlink</label>' +
		  '</div>' +
		  	'<input type="text" name="resources[]" class="form-control" aria-label="Resource Link" id="'+ text + '" value="' + text + '" placeholder="https://www.google.com"/>' + 
		  	'<button type="button" onclick="document.getElementById(\'newRDiv\').remove()" class="btn btn-danger ml-sm-2">Delete</button>' +
		'</div>'; 
		
		resourceDiv.value = "";
	}

	(function() {
	  'use strict';
	  window.addEventListener('load', function() {

	    // Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.getElementsByClassName('needs-validation');
	    // Loop over them and prevent submission
	    var validation = Array.prototype.filter.call(forms, function(form) {
	      form.addEventListener('submit', function(event) {
	        if (form.checkValidity() === false) {
	          event.preventDefault();
	          event.stopPropagation();
	        }
	        form.classList.add('was-validated');
	      }, false);
	    });
	  
	    //if editing device -- show correct values inside select statements 
	    //payment type 
	    var select = document.getElementById('payment_occurence'); 
	    for(var i=0; i<select.options.length; i++){
	    	if(select.options[i].value=="{{device.po}}"){
	    		select.selectedIndex = i; 
	    	}
	    }
	    
	    //device rating 
	    select = document.getElementById('rating');
	    for(var i=0; i<select.options.length; i++){
	    	if(select.options[i].value==Math.floor({{device.rating}})){
	    		select.selectedIndex = i; 
	    	}
	    }
	    //homecategories 
	    {% if (device.hc|safe) %}
	    var homeCatsArray = {{device.hc|safe}}; 
	    for(var i=0; i<homeCatsArray.length; i++){
	    	var checkbox = document.getElementById(homeCatsArray[i])
	    	checkbox.checked = true 
	    }
	    {% endif %}

	    //device categories
	    {% if (device.dc|safe) %}
	    var deviceCatsArray = {{(device.dc|safe)}}; 
	    for(var i=0; i<deviceCatsArray.length; i++){
	    	var checkbox = document.getElementById(deviceCatsArray[i])
	    	checkbox.checked = true 
	    }
	    {% endif %}

	    //check that at least one device input checkbox is selected
		var requiredCheckboxes = $('.form-check :checkbox[required]');
		//initial
		if(requiredCheckboxes.is(':checked')){
			requiredCheckboxes.removeAttr('required'); 
		}
		else{
			requiredCheckboxes.attr('required', 'required'); 
		}

		requiredCheckboxes.change(function(){
			if(requiredCheckboxes.is(':checked')){
				requiredCheckboxes.removeAttr('required'); 
			}
			else {
				requiredCheckboxes.attr('required', 'required'); 
			}
		})

		document.querySelector('.custom-file-input').addEventListener('change', function(e){
			var filename = document.getElementById('deviceImage').files[0].name; 
			document.getElementById('deviceImageLabel').innerText = filename 
		})
	  }, false);
	})();
</script>
{% endblock %}
