{% extends "layout.html" %}
{% block main %}
<div class="container">
	<h1> Devices </h1>
	<ul class="list-group">
	<!-- Home Category -->
	{% for device in devices|sort(attribute='name') %}
		<li class="list-group-item">
	    	<a href="/getDevice/{{device.id}}">
	    		{{device.name}}
			</a>
			<div class="float-right">
				<a href="/createDevice/{{device.id}}" type="button" class="btn btn-warning">Edit</a>
				<a href="/deleteDevice/{{device.id}}" type="button" class="btn btn-danger">Delete</a>
			</div>
	    </li>
{% endfor %}
	</ul>
</div>

{% endblock %}
