{% extends "layout.html" %}
{% block main %}
<div class="row">
	<h1>Home Categories</h1> 
</div>
<div>
	<div class="form-group"> 
		<ul class="list-group" id="categoryList">
		{% for c in categories %}
		  <li class="list-group-item d-flex justify-content-between align-items-center" id="{{c}}">
		    <img src="{{c.image}}" alt="{{c.image_alt or 'No Image'}}" style="width: 30%;"/> {{c}}
		    <span class="float-right">
				<button type="button" class="btn btn-warning" onclick="makeEditable('{{c}}', '{{c.id}}', '{{c.image_alt}}')">Edit</button>
				<a href="/deleteHomeCategory/{{c.id}}" type="button" class="btn btn-danger">Delete</a>
			</span>
		  </li>
		{% endfor %}
		</ul>
	</div> 
	<h2> Add Category </h2>
	<form class="needs-validation form" action="/addHomeCategory" method="post" enctype="multipart/form-data" novalidate> 
		{{ form.csrf_token }}
		<div class="form-group"> 
			<label class="sr-only" for="newCat">New home category name</label>
			<input type="text" name="name" id='newCat' class="form-control mr-1" required/>
		</div> 
		<div class="form-group"> 
			<div class="custom-file">
				<label class="custom-file-label" id="newImageLabel" for="newImage">Category Image</label>
				<input type="file" class="custom-file-input" id="newImage" name='image'/>
			</div> 
		</div> 
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for='image_alt'>Alternative Text for Image</label>
		  </div>
		  	<input name="image_alt" id='image_alt' type="text" class="form-control" required />
		  	<div class="valid-feedback">
		    	Looks good!
		    </div> 
		    <div class="invalid-feedback">
		    	Must provide alternate text. 
		    </div>
		</div>
		<button type="submit" class="btn btn-primary" onclick="addCategory()">Add</button>
		{{ form.recaptcha }}
	</form>
</div>

<script>
function makeEditable(name, id, alt_text){
	var elem = document.getElementById(name); 
	elem.innerHTML = '<form action="/editHomeCategory/' + id + '" method="post" enctype="multipart/form-data">{{ form.csrf_token }}' +
	 "<input type='text' name='name' value='" + elem.innerText.replace('Edit', '').replace('Delete', '').trim() + "'/><br>" + 
	'<div class="custom-file"><label class="custom-file-label" for="changeImage" id="changeImageLabel">Category Image</label>' + 
	'<input type="file" class="custom-file-input" id="changeImage" name="image"/></div>' + 
	'<div class="input-group mb-3">' +
	  '<div class="input-group-prepend">' +
	    '<label class="input-group-text" for="image_alt">' +'Alternative Text for Image</label>' +
	  '</div>' +
	  	'<input name="image_alt" id="image_alt" type="text" class="form-control" value="' + alt_text + '" required/>' +
	'</div>' +
	"<button type='submit' class='btn btn-success'>Save</button></form>" +
	'<span class="float-right">' + 
		'<button type="button" class="btn btn-warning" onclick="makeEditable(' + id + ')">Edit</button>' + 
		'<a href="/deleteHomeCategory/' + id + '" type="button" class="btn btn-danger">Delete</a>' +
		'</span>'; 
	setEvent(); 
}

function setEvent(){
	document.querySelector('.custom-file-input').addEventListener('change', function(e){
			var filename = this.files[0].name; // document.getElementById('newImage').files[0].name;
			console.log(filename) 
			document.getElementById(this.id + "Label").innerText = filename 
		})	
}
setEvent()

</script> 

{% endblock %}
