<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/src/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/main.css"> 

    <!-- FontAwesome --> 
    <link href="/static/src/css/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">

    <title>Smartify</title>
  </head>
  <body>
    <a href="#main" class="aria-only" tabindex="-1"></a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Smartify</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Editor
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/createDevice">Create Device</a>
              <a class="dropdown-item" href="/editDevices">Edit Devices</a>
              <div class="dropdown-divider"></div> 
              <a class="dropdown-item" href="/editCategories">Device Control Categories</a>
              <a class="dropdown-item" href="/editHomeCategories">Home Categories</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/editUserAccounts">Edit Accounts</a> 
            </div>
          </li>
          </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto"> 
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-dark" href="/user/edit_user_profile" id="account">
              Hi {{ current_user.username }}
            </a> 
          </li>
          {% endif %}
          <li class="nav-item ">
            {% if current_user.is_authenticated %} 
            <a class="nav-link text-dark" href="/user/sign-out" id="navbarDropdown" role="button" aria-label="Log in">
              Log Out
            {% else %}
              <a class="nav-link text-dark" href="/user/sign-in" id="navbarDropdown" role="button" aria-label="Log in">
              Log In 
            {% endif %}
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row mx-auto mt-4"> 
      <div class="col"> 
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
          {% for category, message in messages %}
            {% if category=="error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            {% else %}
            <div class="alert alert-{{category}}" role="alert">
              {{ message }}
            </div>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div> 
    </div> 

    <div class="container">
      <div id="main"> 
      {% block main %}
    	{% endblock %}
      </div> 
    </div> 
 	
    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <span class="text-muted">
      This website and its source code © belongs to <a href="https://www.atlaak.org/">ATLA</a>, a public non-profit 501(c)3 agency which provides assistive technology solutions for Alaskans with disabilities. <a href="/privacy">Privacy Policy</a>
      </span>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/src/js/jquery.3.4.1.min.js"></script>
    <script src="/static/src/js/popper.min.js"></script>
    <script src="/static/src/js/bootstrap.min.js"></script>
  </body>
</html>

  

