{% extends "layout.html" %}
{% block main %}
<div class="container">
	<br> 
	<h1>{{category}}</h1> 
	<br> 
	{% if devices|length == 0 %}
		<div class="row">No Devices Found</div>
	{% endif %}
	{% set index = namespace(foo=0) %}
	{% set rows = (devices|length)//3 + 1 %}
	{% for row in range(rows) %}
	<div class="row"> 
		{% for col in range(3) %}
		{% if devices[index.foo] %}
	    <div class="col">
	    	<a href="/getDevice/{{devices[index.foo].id}}" class="card" style="width: 18rem;">
	    	{% if devices[index.foo].image %}
	    		<img class="card-img-top" src="{{devices[index.foo].image}}" alt="{{devices[index.foo].image_alt or 'No Image'}}"/>
	    	{% else %}
			  <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
			  {% endif %}
			  <div class="card-body">
			  	<p class="card-title text-AAA-green">{{devices[index.foo].name}}</p>
			    <p class="card-text text-AAA-green">
			    	<label class="sr-only">Device rating is {{devices[index.foo].rating}}. Stars are shown to indicate this.</label>
			    	<label for="rating"><b>Device Rating: </b></label> 
			    	<span id="rating">
		        	{% for i in range(devices[index.foo].rating|int) %}
		        			<span aria-label="Checked Star Image" class="fa fa-star star-checked"></span>
		        		{% endfor %}
		        		{% for i in range(5 - devices[index.foo].rating|int) %}
		        			<span aria-label="Unchecked Star Image" class="fa fa-star"></span>
		        		{% endfor %}
		        	</span>
		        	<br> 
		        	<label><b>Price: </b></label> 
		        	${{'%0.2f' % devices[index.foo].price}}
		        	<br> 
		        	<label><b>Controlled by: </b></label> 
		        	{% for i in range(devices[index.foo].devicecategories|length) %}
		        		{{devices[index.foo].devicecategories[i]}}
		        		{% if i + 1 < (devices[index.foo].devicecategories|length) %}
		        		, 
		        		{% endif %}
		        	{% endfor %}
		        </p>
			  </div>
			</a>
	    </div>
	    {% set index.foo = index.foo + 1 %}
	    {% endif %}
	    {% endfor %}
	</div>
	{% endfor %}
</div>

{% endblock %}
