{% extends "layout.html" %}
{% block main %}
<div class="row">
	<h1>Add/Delete/Edit the Device Categories</h1> 
</div> 
<div>
	<form action="/editDeviceCategories" method="post"> 
		<div class="form-group"> 
			<ul class="list-group">
			{% for c in deviceCat %}
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    {{c}}
			    <span class="badge badge-primary badge-pill">14</span>
			  </li>
			{% endfor %}
			</ul>
		</div> 
		<button type="submit" class="btn btn-primary">Submit</button> 
	</form> 
</div>

{% endblock %}
